<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}
          
          <nav id="sidebar-menu" style="margin: 30px 0;">
            <h2>Navigation</h2>
            <p><a href="https://arsari.github.io/ePortfolio" title="ePortfolio Home"><img 
              alt="Static Badge"
              src="https://img.shields.io/badge/Home-ePortfolio-2244FF?style=flat&link=https%3A%2F%2Fklockhart99.github.io%2FePortfolio%2F"></a></p>
          </nav>

          <div id="President's List" style="margin: 30px 0;">
            <h2>President's List</h2>
            <p style="display: inline-table;">
              Fall 2023
              Spring 2024
              Summer 2024
              Fall 2024
            </p>
          </div>
          
          <div id="Honor Roll" style="margin: 30px 0;">
            <h2>Honor Roll</h2>
            <p style="display: inline-table;">
              Fall 2023
              Spring 2024
              Summer 2024
              Fall 2024
            </p>
          </div>
          
          <div id="Links" style="margin: 30px 0;">
            <h2>Merit Page</h2>
            Place Holder
          </div>


          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

  </body>
</html>
